<p id="notice"><%= notice %></p>

<h1>Carrelli</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrelli.each do |carrello| %>
      <tr>
        <td><%= link_to 'Show', carrello %></td>
        <td><%= link_to 'Edit', edit_carrello_path(carrello) %></td>
        <td><%= link_to 'Destroy', carrello, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrello', new_carrello_path %>
