<%= form_with(model: prodotto, local: true) do |form| %>
  <% if prodotto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prodotto.errors.count, "error") %> prohibited this prodotto from being saved:</h2>

      <ul>
        <% prodotto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :prezzo %>
    <%= form.text_field :prezzo %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_field :descrizione %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
